HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### resources ###
**/resources/*.properties
**/resources/*.properties.local
**/resources/*.properties.release
**/resources/*.xml
**/resources/*.xml.local
**/resources/*.xml.release
!**/resources/log4j.properties

### mac files ###
.DS_Store