<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>参与活动会员列表 - YADA</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="../static/css/custom-styles.css" rel="stylesheet" />
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="../static/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:8080/">YADA</a>
            </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="http://localhost:8080/"><i class="fa fa-dashboard"></i>首页</a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/userlist" class="active-menu"><i class="fa fa-table"></i>会员列表</a>
                    </li>

                </ul>

            </div>

        </nav>
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            会员 <small>打卡概览</small>
                        </h1>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             列表
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>会员昵称</th>
                                            <th>行政区</th>
                                            <th>学校</th>
                                            <th>年级</th>
                                            <th>累计打卡数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user:${userlist}">
                                            <td th:text="${user.nickName}" th:onclick="goDetail([[${user.id}]], [[${user.nickName}]]);"></td>
                                            <td th:text="${user.district}"></td>
                                            <td th:text="${user.school}"></td>
                                            <td th:text="${user.grade}" class="center"></td>
                                            <td th:text="${user.clockInTimes}" class="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
               <footer><p>Copyright &copy; 2019. 海选选拔宣传推广后端</p></footer>
    </div>
            </div>
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.metisMenu.js"></script>
    <script src="../static/js/dataTables/jquery.dataTables.js"></script>
    <script src="../static/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <script src="../static/js/custom-scripts.js"></script>
    <script src="../static/js/backend-page-scripts1.0.1.js"></script>


</body>
</html>
